fastapi
uvicorn
yfinance
pandas
numpy
pandas-ta
python-dotenv
mplfinance
# 預留給機器學習與 LLM
scikit-learn
openai
requests    
lxml        # 修復抓取清單失敗問題
statsmodels  # 用於 ARIMA
prophet      # 用於 Prophet
plotly     # 用於互動式圖表